<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="szaizenポートフォリオサイト">
  <meta name="keywords" content="zaizen">
  <style>.l-page { visibility: hidden; }</style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
  <div class="l-page" data-page-id="index">
    <div class="l-contents">
      <div class="p-sections-wrap js-fullscreen-wrap">
        <div class="p-section p-section--01 js-fullscreen-section">
          <div class="p-section__in">
            <h2 class="p-section__header">Zaizen Saki Web Engineer</h2>
            <p class="p-section__text">
              作品集
            </p>
            <div class="grid p-section__text">
              <div class="grid__item work--card-1"></div>
              <div class="grid__item work--card-2"></div>

              <div class="grid__item work--card-3"></div>
              <div class="grid__item work--card-4"></div>
              <div class="grid__item work--card-5"></div>

              <div class="grid__item work--card-6"></div>
              <div class="grid__item work--card-7"></div>
              <div class="grid__item work--card-8"></div>

            </div>
          </div>
        </div>
        <div class="p-section p-section--02 js-fullscreen-section">
          <div class="p-section__in">
            <h2 class="p-section__header">Profile</h2>
            <p class="p-section__text">福岡出身、東京在住のさきちょです。<br>
            趣味は楽器、ゲーム、読書、プログラミング、旅行……学生時代はバンド活動でベースしていました！<br>
            現在はフロントエンジニアとして働いており、SassやVue.jsやWordpressなど勉強中です。<br>
            また、同世代コミュニティ「Enclass」に所属しており、たまにイベントや勉強会をしています。</p>
            <p class="p-section__text">
              保有資格<br>
              ▶ ITパスポート<br>
              ▶ Oracle Certified Java Programmer, Silver SE 8 認定資格<br>
              ▶ Webクリエイター能力試験（スタンダード・エキスパート）<br>
            </p>
            <div class="p-section__text">
              <!--<img src="image/it.PNG" alt="itスキル">-->
              <ul class="skill__list">
                <li><i class="fab fa-html5"></i></li>
                <li><i class="fab fa-css3-alt"></i></li>
                <li><i class="fab fa-java"></i></li>
                <li><i class="fab fa-wordpress"></i></li>
                <li><i class="fab fa-salesforce"></i></li>
                <li><i class="fab fa-js-square"></i></li>
                <li><i class="fab fa-github"></i></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-section p-section--03 js-fullscreen-section">
          <div class="p-section__in">
            <h2 class="p-section__header">JavaScript</h2>
            <p class="p-section__text">
              html,css,javascriptで作った簡単な作品達です。<br>
            </p>
            <div class="p-section__text">
              <div class="js__box js-game">
                <h2>game</h2>
                <div class="js__box__item">
                  <button class="js-game-1"><span>いつ？誰と？何するゲーム！</span></button>
                </div>
                <div class="js__box__item">
                  <button class="js-game-2"><span>おみくじ</span></button>
                </div>
                <div class="js__box__item">
                  <button class="js-game-3"><span>NumerOn</span></button>
                </div>
              </div>
              <div class="js-box js-study">
                <h2>課題</h2>
                <div class="js__box__item">
                  <button class="js-study-1"><span>ボタン無効化</span></button>
                </div>
                <div class="js__box__item">
                  <button class="js-study-2"><span>DOM操作</span></button>
                </div>
                <div class="js__box__item">
                  <button class="js-study-3"><span>Ajax、Cookie</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="p-section p-section--04 js-fullscreen-section">
          <div class="p-section__in">
            <h2 class="p-section__header">Gallery</h2>
            <div class="nav-icons p-section__text">
              <img src="image/img1.jpg" alt="">
              <img src="image/img2.jpg" alt="">
              <img src="image/img1.jpg" alt="">
              <img src="image/img2.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="p-section p-section--05 js-fullscreen-section">
          <div class="p-section__in">
            <h2 class="p-section__header">Section5</h2>
            <div class="nav-icons p-section__text">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="https://github.com/szaizen"><i class="fab fa-github-square"></i></a>
              <a href="https://qiita.com/szaizen" target="_blank"><img src="image/qiita.png" width="30px" height="30px" class="fab"></a>
            </div>
          </div>
        </div>
      -->
      </div>
      <div class="p-pager js-fullscreen-pager">
        <div class="p-pager__in">
          <div class="p-pager__pointer js-fullscreen-pager-pointer js-hover"></div>
          <div class="p-pager__pointer js-fullscreen-pager-pointer js-hover"></div>
          <div class="p-pager__pointer js-fullscreen-pager-pointer js-hover"></div>
          <!--
          <div class="p-pager__pointer js-fullscreen-pager-pointer js-hover"></div>
          <div class="p-pager__pointer js-fullscreen-pager-pointer js-hover"></div>
        -->
          <div class="p-pager__bar"></div>
        </div>
      </div>
      <div class="area">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="p-background js-fullscreen-bg"></div>
    </div>
  </div>

  <div class="co-modal-content">
    <div class="co-modal-title">NumerOn</div>
    <p class="co-modal-text">
      aaa
    </p>
    <a id="co-modal-close" class="co-modal-close_icon"></a>
  </div>
  <div class="co-modal-overlay"></div>



  <script src="/assets/js/app.js"></script>
</body>
</html>
