

.work-card--1 {
background-image: url('../images/anotherworks.png');
}
.work-card--2 {
  background-image: url('../images/anotherworks_aw.png');
}
.work-card--3 {
  background-image: url('../images/pasonatechsystems.png');
}
.work-card--4 {
  background-image: url('../images/music_pc.png');
}
.work-card--5 {
  background-image: url('../images/enclass.png');
}
.work-card--6 {
  background-image: url('../images/portfolio4.png');
}
.work-card--7 {
  background-image: url('../images/camp.png');
}
.work-card--8 {
  background-image: url('../images/Portfolio.png');
}
