
/*===============================
	フォント関連
================================*/

p, div {
  font-family: YuGothic,'Yu Gothic',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-weight: 500;
}
h1, h2 {
  font-family: 'Caveat', sans-serif;
}
