
/*===============================
	grid
================================*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 22px;

  &__item {
    background-color: $color-white;
    height: 12vw;
    width: 19vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer;

    @include mq(mobile) {
      height: 24vw;
      width: 42vw;
    }

    &:hover {
      transition: 0.5s;
      transform: scale(1.1);
    }

  }

  @include mq(mobile) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

}
