@media ( max-width: 800px) {

  .work--list-left {
    width: 492px;
  }
  .image--pc {
    width: 441px;
    top: 25px;
    left: 26px;
    height: 256px;
  }

  .js-box-item {
    float: none;
    margin: 0 10px;
  }
  
}
